<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" 
             type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>

  <hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory name="NHibernate.Test">
      <property name="connection.driver_class">
        NHibernate.Driver.SQLite20Driver
      </property>
      <!-- 动态添加datasource时，可将这个property省略-->
      <!--<property name="connection.connection_string">
        Data Source=C:\Temp\nhibernate.db3
      </property>-->
      <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
      <property name="query.substitutions">true=1;false=0</property>
      <!-- 输出并格式化sql语句-->
      <property name="show_sql">false</property>
      <property name="format_sql">false</property>

      <mapping assembly="LightController" />
      
     
    </session-factory>
  </hibernate-configuration>
</configuration>
