<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LBDConfigTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LBDConfigTool.Properties.Settings>
            <setting name="ebinPath" serializeAs="String">
                <value />
            </setting>
            <setting name="fbinPath" serializeAs="String">
                <value />
            </setting>
            <setting name="relayTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="packageSize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="abinPath" serializeAs="String">
                <value />
            </setting>
            <setting name="partitionSize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="partitionTime" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="firstRelayTime" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="fpgaWaitTime" serializeAs="String">
                <value>15</value>
            </setting>
        </LBDConfigTool.Properties.Settings>
    </userSettings>
</configuration>