<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" 
             type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>

  <hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory name="NHibernate.Test">
      
      <!-- 数据库:MySql -->      
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>     
      <property name="connection.connection_string">Server=81.68.246.22;Database=lc;User ID=root;Password=TRANSJOY</property>     

      <property name="query.substitutions">true=1;false=0</property>
      <property name="show_sql">false</property>
      <property name="format_sql">false</property>
      <!-- 2019.9.2 建表用update方式, 会自动根据model类生成新列；但如果删除model中的属性，表中相应的列不会被删除；同时仍会保存原来的表数据（行），其中新增的列用null填充 -->
      <property name="hbm2ddl.auto">update</property>

      <property name ="current_session_context_class">web</property>    
      
      <mapping assembly="ImportProtocol" />    
     
    </session-factory>
  </hibernate-configuration>
</configuration>
